:root{
    --color-yellow:#FFCE05;
    --color-blue:#303192;
    --color-white:#fff;
    --color-font:#363636;
    --color-shadow:#b6b6b6;
    --color-lightBlue:#5254BE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 26px;
    margin: auto;
}
h2{
    font-size: 24px;
    margin: auto;
}
p{
    font-size: 18px;
    margin: auto;
}
.divGeral{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.imgAndTextHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerTitle{
    background-color: var(--color-yellow);
    border-radius: 0 0 25px 25px ;
    margin: 0 2% 2% 2%;
    text-align: center;
    min-width: 300;
}
.headerTitle h1 {
    color: var(--color-white);
    padding: 0 5% 5% 5%;
}
.headerTitle h2 {
    color: var(--color-blue);
    padding: 5% 5% 0 5%;
}
.headerImage {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
}
/*MENU BUTTON*/
.navLock{
    display: flex;
    justify-content: right;
    z-index: 1;
    margin-bottom:2%;
    top: 80px;
    right: 65px;
}
.navButton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border-radius: 10px 0 0 10px ;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 3px solid var(--color-lightBlue);
    background-color: var(--color-lightBlue);
}
.navButton h5{
    color: var(--color-white);
    position: absolute;
    top: 2px;
}
.hamburguerMenu{
    position: absolute;
    top: 40px;
    width: 50px;
    height: 6px;
    background:var(--color-white);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.hamburguerMenu::before,
.hamburguerMenu::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background:var(--color-white);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.hamburguerMenu::before{
    transform: translateY(-16px);
}
.hamburguerMenu::after{
    transform: translateY(16px);
}
/*ANIMATION*/
.navButton.open .hamburguerMenu {
    transform: translateX(-50px);
    background: transparent;
}
.navButton.open .hamburguerMenu::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.navButton.open .hamburguerMenu::after{
    transform: rotate(-45deg) translate(35px,35px);
}
.navButtonClick{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    width: 150px;
    height: 100%;
    border-radius:0 0 0 25px ;
    background-color: var(--color-lightBlue);
}
.navButtonClick button{
    cursor: pointer;
    padding: 8%;
    margin: 5%;
    background-color: var(--color-blue);
    border: none;
    border-radius: 25px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.navButtonClick button:hover{
    background-color: var(--color-yellow);
    color: var(--color-blue);
}
/*MENU BUTTON*/
.section01 p{
    color:var(--color-font);
    text-align: justify;
    padding: 0.3rem 5%;
}
.section02{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageAndTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mainVideoWelcome{
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
    border-radius: 0 0 25px 25px ;
    margin: 0 2% 2% 2%;
    width: 80%;
    text-align: center;
}
.mainVideoWelcome h2{
    color: var(--color-blue);
    padding: 5% 5% 1% 5%;
}
.mainVideoWelcome p{
    color:var(--color-font);
    padding: 0% 5% 5% 5%;
}
.section02 iframe{
    border-radius: 15px;
}
.section03{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subTitle {
    text-align: center;
}
.section03 h2{
    color: var(--color-blue);
    padding: 5% 5% 1% 5%;
}
.section03 p{
    color:var(--color-font);
    padding: 0% 5% 5% 5%;
    text-align: justify;
}
.timeCourse{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 110px;
    background-color: var(--color-blue);
    border-radius: 25px;
}
.timeCourse img{
    max-height: 150px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.text p{
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-white);
    margin: 0px;
}
.contentTable{
    display: flex;
    justify-content: center;
    margin: 2% 2%;
}
table{
    margin: 5%;
    border: solid black 0.15rem;
    text-align: center;
    overflow:hidden;
    border-collapse: separate;
    border-radius: 1.8rem;
}
.th1{
    border: 0.1rem solid black;
    padding: 1.4rem;
    text-align: center;
    color: var(--color-blue);
    background-color: #FFCE05;
    border-top-left-radius: 25px;
}
.th2{
    border: 0.1rem solid black;
    padding: 1.4rem;
    text-align: center;
    color: #303192;
    background-color: #FFCE05;
    border-top-right-radius: 25px;
}
.td{
    border: 0.1rem solid black;
    padding: 1.2rem;
    text-align: center;
}
.tdYellow{
    border: 0.1rem solid black;
    padding: 1.2rem;
    text-align: center;
    background-color: #D8A314;
    color: var(--color-blue);
}
.tdFinalL{
    border: 0.1rem solid black;
    padding: 1.2rem;
    text-align: center;
    border-bottom-left-radius: 25px;
    background-color: #D8A314;
    color: var(--color-blue);
}
.tdFinalR {
    border: 0.1rem solid black;
    padding: 1.2rem;
    text-align: center;
    border-bottom-right-radius: 25px;
    background-color: #D8A314;
    color: var(--color-blue);
}
.iconsImageGeral{
    display: none;
    justify-content: center;
    
}
.iconsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconsList h2{
    text-align: center;
}
.section04{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section04 h2{
    color: var(--color-blue);
    padding: 5% 5% 1% 5%;
    text-align: center;
}
.section04 p{
    color:var(--color-font);
    padding: 0% 5% 5% 5%;
    text-align: center;
}
.alicia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-blue);
    width: 80%;
    border-radius: 15px;
    padding: 2%;
    margin: 8% auto 5% auto ;
}
.alicia h2{
    color: var(--color-white);
    text-align: center;
}
.alicia p {
    color: var(--color-white);
    text-align: justify;
}
.characters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-blue);
    width: 80%;
    border-radius: 15px;
    padding: 2%;
    margin: 5%;
}
.characters h2 {
    color: var(--color-white);
    text-align: center;
}
.characters p {
    color: var(--color-white);
    text-align: justify;
}
.blockLeft{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
    background-color: var(--color-yellow);
}
.folleto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-yellow);
    border-radius: 35px 35px 0px 0px ;
    margin: 0 2% 0% 2%;
    text-align: center;
    width: 80%;
}
.folletoButtonAndImg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.folletoButtonAndImg img{
    display: none;
}
.folletoButtonAndImg button{
    width: 220px;
    height: 50px;
    cursor: pointer;
    margin: 10%;
    background-color: var(--color-blue);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
.folletoButtonAndImg button:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
}
.section05{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section05 h2{
    color: var(--color-blue);
    padding: 5% 5% 0% 5%;
}
.section05 p{
    color:var(--color-font);
    padding: 1% 5% 5% 5%;
    text-align: justify;
}
.section05 button{
    width: 220px;
    height: 50px;
    cursor: pointer;
    margin: 0% 5% 5% 5%;
    background-color: var(--color-blue);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
.section05 button:hover{
    background-color: var(--color-yellow);
    color: var(--color-blue);
}
.foroTitleAndButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foroTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgText img{
    display: none;
    max-width: 400px;
    width: 100%;
}
.foroPerguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue);
    width: 80%;
    padding: 2%;
    border-radius: 25px;
    margin-bottom: 5%;
}
.foroPerguntas button{
    background-color: var(--color-yellow);
    color: var(--color-blue);
    margin-top: 2%;
    transition: all 0.2s ease-in-out;
}
.foroPerguntas button:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
}
.foroPerguntas p{
    text-align: center;
    color: var(--color-white);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding: 2% 5%;
    text-align: justify;
    color: var(--color-font);
}
footer li{
    padding: 2% 7%;
    text-align: justify;
    font-size: 18px;
    color: var(--color-font);
}
.titleFooter{
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
    border-radius: 0 0 25px 25px ;
    margin: 0 2% 2% 2%;
    width: 80%;
    text-align: center;
}
.titleFooter h2{
    color: var(--color-blue);
    padding: 5% 5% 0% 5%;
}
.titleFooter p{
    color:var(--color-font);
    padding: 1% 5% 5% 5%;
    text-align: center;
}
.finalDiv{
    width: 80%;
    background-color: var(--color-blue);
    margin: 5%;
    border-radius: 25px;
}
.finalDiv p{
    color: var(--color-white);
    padding: 5%;
    text-align: center;
}
#imageBar{
    width: 100%;
}
.video {
    max-width: 700px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: auto;
}
.video iframe{
    border-radius: 1rem;
    height: 394px;
}
.h5p iframe {
    height: 360px;
}
@media screen and (min-width: 451px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 26px;
    }
    h6{
        font-size: 22px;
    }
    p{
        font-size: 22px;
    }
    .section02 img {
        width: 100%;
    }
    
}
@media screen and (min-width: 601px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h6{
        font-size: 24px;
    }
    p{
        font-size: 24px;
    }
    .imgAndTextHeader{
        flex-direction: row;
        align-items: center;
    }
    .headerTitle{
        padding: 2%;
        width: 40%;
    }
    .headerImage{
        padding: 2%;
        width: 100%;
    }
    .section01 p{
        padding: 0.3rem 5% 5% 5%;
    }
    .section02 h2{
        font-size: 28px;
    }
    .section02 p{
        font-size: 22px;
    }
    .section02 img {
        width: 100%;
    }
    .timeCourse{
        width: 80%;
        justify-content: space-around;
    }
    .text{
        padding-top: 2%;
    }
    .text p{
        font-size: 22px;
    }
    .iconsList img{
        margin: 2%;
    }
    .folleto{
        width: 100%;
        border-radius: 0px 220px 0px 0px;

    }
    .folletoButtonAndImg{
        height: 150px;
        margin-right: 25rem;
    }
    .folletoButtonAndImg button{
        width: 280px;
        height: 65px;
        font-size: 18px;
        margin-right: 5%;
    }
    .folletoButtonAndImg img{
        display: flex;
    }
    .section05 button{
        width: 280px;
        height: 65px;
        font-size: 18px;
    }
    .imgText img{
        display: flex;
    }
    .foroPerguntas button{
        width: 280px;
        height: 65px;
        font-size: 18px;
    }
    
}
@media screen and (min-width: 901px) {
    .imgAndTextHeader{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .headerTitle{
        padding: 2%;
        width: 450px
    }
    .headerImage{
        width: 100%;
    }
    .imageAndTitle{
        align-items: flex-end;
        justify-content: right;
    }
    .mainVideoWelcome{
        width: 100%;
        border-radius: 0px 0px 0px 220px;
        height: 150px;
    }
    .mainVideoWelcome h2,p{
        padding:1% 0%;
    }
    .section03 h2{
        padding: 2% 2% 1% 2%;
    }
    .section03 p{
        padding: 2%;
    }
    .timeCourse{
        width: 50%;
        align-items: center;
        padding: 0px;
    }
    .contentTable{
        margin: 0px;
    }
    table{
        margin: 2%;
    }
    .text{
        padding: 0px;
    }
    #textT{
        text-align: center;
    }
    .iconsImageGeral{
        display: flex;
        max-height: 600px;
        padding-bottom: 2%;
    }
    .iconsList{
        display: none;
    }
    .section04 h2{
        padding-top: 1%;
    }
    .alicia{
        width: 50%;
        margin: 2% auto 5% auto;
        height: 450px;
        padding-bottom: 8%;
    }
    .alicia p{
        text-align: center;
    }
    .characters{
        width: 50%;
        margin: 2% auto 5% auto;
        height: 350px;
        padding-bottom: 8%;
    }
    .characters p{
        text-align: center;
    }
    .blockLeft{
        justify-content: left;
    }
    .foroTitleAndButton{
        flex-direction: row;
        justify-content: center;
        width: 1000px;
    }
    .foroTitle{
        width: 600px;
        align-items: flex-start;
        margin-top:5% ;
        margin-bottom: 5%;
    }
    .foroTitle h2{
        text-align: left;
        padding: 0%;
        margin: 0%;
    }
    .foroTitle p{
        text-align: left;
        padding: 0%;
        margin: 0%;
    }
    .imgText{
        flex-direction: row;
        width: 1000px;
    }
    .foroPerguntas{
        flex-direction: row;
        width: 70%;
        padding: 0%;
        height: 150px;
        justify-content: space-around;
    }
    .foroPerguntas p{
        padding-top:2% ;
    }
    .titleFooter{
        width: 100%;
        border-radius: 0px 0px 0px 220px;
        height: 150px;
    }
    .titleFooter h2{
        padding: 1% 0px 1% 0px;
    }
    .titleFooter p{
        padding: 0px 0px 2% 0px;
    }
    .textTitleFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer p{
        padding: 25px;
        text-align: center;
    }
    footer li{
        padding: 10px;
    }
    .finalDiv{
        width: 60%;
    }
    
}
@media screen and (max-width:1100px){
    .video iframe{
        height: 205px;
        width: 100%;
    }
    .h5p iframe {
        height:320px;
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .video iframe{
        height: 205px;
    }
    .h5p iframe {
        height: 260px;
    }
}

@media screen and (max-width: 500px) {
    .video iframe{
        height: 205px;
    }
    .h5p iframe {
        height: 180px;
    }
}
@media screen and (max-width: 400px) {
    .video iframe{
        height: 165px;
    }
    .h5p iframe{
        height: 140px;
    }
}
@media screen and (max-width: 350px) {
    .video iframe{
        height: 130px;
    }
    .h5p iframe {
        height: 110px;
    }
}
@media screen and (max-width: 300px) {
    .video iframe{
        height: 110px;
    }
    .h5p iframe {
        height: 80px;
    }
}
